.error {
  width: 30%;
  margin: 0 auto;
  padding: 40px 0;
  background: white;
}
  .error__title {
    text-align: center;

    h1 {
      font-size: modular-scale(2);
    }
    h2 {
    }
  }
  .error__content {}
