.home-page {}
  .home-page__title {}
  .home-page__slideshow {}

.slideshow {
  max-height: 640px;
}

  .slideshow__slide {
    min-height: 640px;
  }

.slick-arrow {
  background: #222;
  border-radius: 15px;

  &:hover {
    background: black;
  }
}
